     <h1 style="color: #ED001E;">Amir Patel</h1>
        <h2 onclick="location.href='./Content/coop-resume.pdf'">Resume</h2>
        <img id="MyImg" src="./Content/Images/MyImg.jpeg" alt="Myimg" height="300px" width="300px">
<p style="color: blue;"left: 300px;">
•   Current student at Centennial College in the Software Engineering Technician program with a strong interest in Software Development and Data Analytics.<br>
•	Familiar with Windows application development and Linux terminal command line.<br>
•	Good grasp of programming languages such as C#, HTML, CSS, SQL, and JavaScript.<br>
•	Excellent problem-solver with strong analytical skills used to resolve programming problems. <br></p>
    </div> 
</div>
