<div class>
    <style>
        Body{
            background-image: url('./Content/Images/Image2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed; 
        }
    </style>  
        <h1>JAY KATARIYA</h1>
        <h2 onclick="location.href='./Content/RESUME.pdf'">RESUME</h2>
        <img id="Image1" src="./Content/Images/Image1.jpeg" alt="Image1">
    </div>
    <div class="">
        <div class="About">
            I am a creative designer and developer, who aims to work with small businesses and marginalized communities to bring their passions to life. I offer both design and development services of web applications or websites!
        </div>
    </div>