<div class="Contact Information">
            <div style="color: #ED001E;">Contact Information</div><br>
            <div style="color: #2f2fa2;">Linkedin: https://www.linkedin.com/in/connect-amir</div><br>
            <div style="color: #2f2fa2;">Email: mailto:patelamir32003@gmail.com</div><br>

        </div>

    <div class="Contact Info Page">
        <form method="post" action="/submit">
            <div class="Form Input">
                <label for="first name" style="right: 300px;">First Name :</label><br>
                <input type="text" name="firstName" placeholder="First Name" required><br>
                <label for="last name">Last Name :</label><br>
                <input type="text" name="lastName" placeholder="Last Name" required><br>
                <label for="phone">Phone :</label><br>
                <input type="text" name="phone" placeholder="Phone" required><br>
                <label for="email">Email :</label><br>
                <input type="text" name="email" placeholder="Email" required><br>
                <label for="message">Message :</label><br>
                <input type="textarea" name="message" placeholder="Message" required><br><br>
                <p style="border: black;"color: red;"><input type="submit" value="Submit" class="btn"/></p>
            </div>
        </form>
    </div>
</div>