<div>
    <h1 style="color: #ED001E;">Web Developer</h1>
        </div>
        <div>
            <h1 style="color: #9a1750;">Amir Patel</h1>
            <div class="1" style="color: purpl#553D67;">Web Developer</div>
          <p style="color: #242582;"  <div class="2">
                •   Current student at Centennial College in the Software Engineering Technician program with a strong interest in Software Development and Data Analytics.<br>
                •	Familiar with Windows application development and Linux terminal command line.<br>
                •	Good grasp of programming languages such as C#, HTML, CSS, SQL, and JavaScript.<br>
                •	Excellent problem-solver with strong analytical skills used to resolve programming problems.<br>
                •	Computer skills include proficiency in Microsoft Word, Excel, PowerPoint, and Visio.<br>
                •	Demonstrated strong interpersonal and communication skills as a Student-Ambassador and from the overall customer service experience.<br>
                •	Experienced in team-based collaborative project work.<br></p>
                </div>
        </div></div>
</div>