<div>
<style>
    Body{
        background-image: url('./Content/Images/Image2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }
</style>  
        <div>
            <h1>Software Engineer</h1>
        </div>
        <div class>
            <h1>Jay Katariya</h1>
            <div class="p1">Software Engineer</div>
            <div class="p2">Skills: Python, Javascript, MongoDB, SQLDB, C#, .NET Framework</div>
        </div>
</div>
</div>