  <div class="project Apps">
    <div class="Product1">
        <img src="./Content/Images/JavaApp.jpg" alt="App1" width="700px">
        <p>Java C Application<br>
            <span>Java application that creates a Java console application to keep records of singers and displays stored record</span>
        </p>
    </div>
    <div class="Product2">
        <img src="./Content/Images/CSharp.jpg" alt="App2" height="300px" width="700px">
        <p>C# Application<br>
            <span>Implemented a Theatre Application using C#</span>
        </p>
    </div>
    <div class="Product3">
        <img src="./Content/Images/sqld.jpg" alt="App3" width="700px">
        <p>SQL<br>
            <span>Created a Library Management System Using SQL and Excel.</span>
        </p>
    </div>
    </div>
