<style>
    Body{
        background-image: url('./Content/Images/Image2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }
</style>  
<div class="projects">
    <div class="projects">
        <img src="./Content/Images/Image6.png" alt="Project 1">
        <p>GPA Calculator<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used .NET&C#</span>
        </p>
    </div>

    <div class="project">
        <img src="./Content/Images/Image7.png" alt="Project 2">
        <p>E-commerce App<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used .NET&C#</span>
        </p>
    </div>

    <div class="project">
        <img src="./Content/Images/Image8.png" alt="Project 3" height="350px" width="450px">
        <p>Portfolio Web Application<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used EJS, NodeJS</span>
        </p>
    </div>
</div>
