
        <div>
        <div class="Service1">
            <img src="./Content/Images/React.jpg" alt="React" height="400" width="900">
            <p>React</p>
        </div>
        <div class="Service2">
            <img src="./Content/Images/Node.jpg" alt="Nodejs" height="400" width="900">
            <p>Nodejs</p>
        </div>
        <div class="Service3">
            <img src="./Content/Images/Js.jpg" alt="JS" height="400" width="900">
            <p>JS</p>
        </div>
    </div>
    </div>