<style>
    Body{
        background-image: url('./Content/Images/Image2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; 
    }
</style>  
<div>
    <div class="raw">
        <div class="column">
            <img src="./Content/Images/Image3.png" alt="NodeJS" height="200" width="200">
            <p>NodeJS</p>
        </div>

        <div class="column">
            <img src="./Content/Images/Image4.png" alt="EJS" height="200" width="200">
            <p>ExpressJavaScript</p>
        </div>

        <div class="column">
            <img src="./Content/Images/Image5.jpg" alt="Angular" height="200" width="200">
            <p>Angular</p>
        </div>
    </div>
    

</div>